
html
{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
}

body
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-color: #ecf0f3;
}

#haut
{
	/* le nav */
	display: flex;
	justify-content:flex-end;
	align-items: center;
}

#title /* Le titre sienna */

{
	font-family: 'Quicksand';
	font-size: 250%;
	text-align: left;
	color : #303030;
	display: block;
	margin-left: 2.5%;
	margin-right: auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.page
{
	/* Les paragraphes de nav*/
	font-family: 'Quicksand';
	font-size: 100%;
	display: block;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-right: 2.5%;
	margin-left: 0;
}

.page a
{
	/* les liens du nav*/
	color : #303030;
}

#server_img
{
	/* les images des forms */
	height: auto;
	width: 55%;
}

#server_div
{
	text-align: center;
}

#presentation_div
{
	/* la div de l'image de la page index*/
	text-align: center;
}

#presentation_img
{
	height: auto;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#pricelist_img
{
	height: auto;
	width: 25%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: left;
}

/* Div des plans */
#plans
{
	/* le package avec bouton vers le form */
	display: flex;
	flex-direction: row;
	justify-content : space-around;
	margin-top: 1.25%;
	margin-bottom: 1.25%;
	margin-right: auto;
	margin-left: auto;
}

#explanations
{
	/* les paragrpahes d'explication*/
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
}

#media_list
{
	margin-bottom: 0.5%;
	margin-top: 0.5%;
}

#priority_list
{
	margin-bottom: 0.5%;
	margin-top: 0.5%;
}

.tier
{
	/* le package avec bouton vers le form */
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	margin-top: 0.1%;
	margin-bottom: 0.1%;
	margin-right: auto;
	margin-left: auto;
}

.tier_name
{
	/* le titre du tier*/
	font-family: 'Quicksand';
	font-size: 150%;
	text-align: center;
	color : #303030;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
}

.description
{
	/* les lignes du tier*/
	font-family: 'Quicksand';
	font-size: 85%;
	text-align: center;
	color : #303030;
	margin-right: auto;
	margin-left: auto;
}

.about
{
	/* disposition des paragraphes dans le body*/
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 5%;
	margin-left: 5%;
}

.explanation_title
{
	/* titre du paragraphe explanation*/
	font-family: 'Quicksand';
	font-size: 125%;
	text-align: left;
	color : #303030;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.explanation_p
{
	font-family: 'Quicksand';
	font-size: 100%;
	text-align: justify;
	color : #303030;
}

section
{
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

p
{
	justify-content: space-around;
	text-align: justify;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
}

a
{
	text-decoration: none;
	color : #303030;
}

li
{
	font-family: 'Quicksand';
}

/* FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM FORM */
.form_p
{
	font-family: 'Quicksand';
	font-size: 100%;
	text-align: left;
	margin-left: 3.8%;
	margin-right: 50%;
	color : #303030;
}

.button
{
	outline: none;
	border:none;
	cursor: pointer;
	width:80%;
	height: 40px;
	border-radius: 25px;
	font-size: 12.5px;
	font-weight: 700;
	font-family: 'Quicksand';
	color:#FFFFFF;
	text-align: center;
	background: #303030;
	box-shadow: 3px 3px 8px #b1b1b1,-3px -3px 5px #ffffff;
	transition: 0.5s;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: auto;
	margin-right: auto;
}

.form-example
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.form-example label
{
	font-family: 'Quicksand';
	font-size: 100%;
	text-align: left;
	color : #303030;
}

.form-submit
{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
}

.button_form
{
	outline: none;
	border:none;
	cursor: pointer;
	width:100%;
	height: 30px;
	border-radius: 25px;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Quicksand';
	color:#FFFFFF;
	text-align: center;
	background: #303030;
	box-shadow: 3px 3px 8px #b1b1b1,-3px -3px 5px #ffffff;
	transition: 0.5s;
}

input[type="text"], input[type="email"], input[type="number"], #country_list, #plan_list, #devices, #archiving_time
{
	background-color : #ecf0f3;
	color: #303030;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
/* Disposition du pied de page(footer), avec couleur et épaisseur*/
footer
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #303030;
	width: 100%;
}

/* Propriétés pour centrer le texte des 4 cases du pied de page */
footer ul
{
	padding: 15px;
	text-align: center;
	margin: 0 auto;
}

/* Texte du footer, couleur et taille de police, avec hauteur des lignes pour ajuster au mieux les lignes*/
footer ul li
{
	font-family: 'Quicksand';
	vertical-align: top;
	text-align: left;
	color: #ecf0f3;
	line-height: 20px;
	list-style: none;
}

/* Couleur du texte des lien*/
footer ul li a
{
	color: #ecf0f3;
	text-decoration: none;
}

/* idem que prècedent*/
footer a
{
	color: #ecf0f3;
	display: inline-block;
	position: relative;
}

/* Changement de couleur du footer après placement avec le curseur*/
.footer:hover
{
	background-color: #ecf0f3;
	transition: 1s;
}

/* Changement de couleur du texte*/
.footer:hover li
{
	color: #303030;
}

/* Changement de couleur des lien*/
.footer:hover a
{
	color: #303030;
}
